/*********************************************

This is the style file for this project.

**********************************************/

body {
  /* background-image:url("/assets/images/background.png"); */
  background-image:url("https://sketchdrawingmart.com/wp-content/uploads/2018/11/drawings-of-pixel-landscape-a-quick-and-dirty-guide-to-creating-pixel-art-david-byttow-medium.png");


  /* background-color: #f4c542; */
  cursor: none;

}
h1 {
  font-size: 86px;
  text-align: center;
  color: white;

}


p {
  text-align: center;
  font-size: 36px;
  color: white;
  margin: 100px;
}
#slider {
  margin: 100px;
  /* background-color: red; */

}

/* .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {

background-color: red;

} */

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

.ui-dialog-title {
  text-align: center;
}
/*
ui-dialog-content ui-widget-content{
  width: auto; min-height:0; max-height: none; height: auto !important;

} */

#dialog {

  width: auto; min-height:; max-height: none; height: auto !important;
  margin: 0 auto;
  text-align: center;

}
#lose {

  color:black;
}
